.platform-link{
  text-decoration: none;
}
.platform-container{
  display: flex;
  align-items: center;
}
.platform-icon{
  width: 30px;
  margin: 10px 5px 10px 10px;
}
.platform-name{
  font-size: 17px;
  color: rgb(63, 109, 237);
}
.platform-name:hover{
  color: rgb(0, 0, 124);
}
