body{
  margin-top: 100px;
}
.projects-list{
  display: flex;
}
/* --- this is project link 1 css --- */
.project-1-link{
  padding: 30px 40px;
  border: 1px solid rgb(255, 255, 255);
  margin-left: 20px;

  text-decoration: none;
  color: #fbfdff;

  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;

  background-color: #698996;

  transition: all 0.15s ease;

  /**/
  display: inline-block;
  font-size: 30px;
}
.project-1-link:hover{
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;

  transform:scale(1.1);
  background-color: #1F7A8C;
}

/* --- this is project link 2 css --- */

.project-2-link{
  display: inline-block;
  font-size: 30px;

  background-color: #226CE0;
  text-decoration: none;
  padding: 30px;
  margin-left: 20px;
  color: white;

  transition: all 0.2s ease;
}
.project-2-link:hover{
  background: 
    radial-gradient(
      circle 150px at var(--mouse-x) var(--mouse-y), 
      #4582e6, 
      transparent
    ),
    #226CE0;
  transform: scale(1.1);
}
