.eliminated-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  background-color: rgb(10, 10, 10);
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
}
.eliminated-image{
  width: 100%;
}
.headerthree{
  color: rgb(232, 0, 0);
}
.final-score{
  color: rgb(233, 202, 255);
}
.play-again-button, .return-to-home-button{
  background-color: rgb(141, 0, 99);
  border: 1px solid black;
  color: white;

  cursor: pointer;
  padding: 10px;

  font-family:Trebuchet MS;
  width: 200px;
}

.play-again-button:hover, .return-to-home-button:hover{
  transform: scale(1.1);
  border: 1px solid white;
}
