.game-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.up-bar{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: rgb(10, 10, 10);
}
.back-button{
  color: white;
  border: none;
  background-color: rgb(10, 10, 10);

  cursor: pointer;
}
.score-display{
  color: white;
}

.bg-color-container{
  background-color: rgb(10, 185, 10);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  justify-content: center;
  align-items: center;
}
.bg-color{
  height: 100%;
}
.click-button{
  cursor: pointer;
  border: none;
  padding: 20px 40px;
  border-radius: 20px;
  font-family:fantasy;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: 2px solid rgb(255, 255, 255);
  transition: transform 0.15s ease;
}
.click-button:active{
  transform: scale(0.85);
}
.turn-red{
  background-color: rgb(185, 10, 10);
}
